{% extends "layout.html" %}
  {% block content %}
        <div class="container">
        <div class="col-xs-12">
        <form method="post" action="">
            <!-- hidden tag is a part of portocetion of secrte key -->
            {{ form.hidden_tag() }}
            <!-- this to group form together  -->
            <fieldset class=form-group">
                <!--this make name for the fieldset -->
                <legend class="border-bottom">Delete</legend>

                <div class="form-group">
                    <!-- class="form-control.label" is bootstrap class -->
                    {{form.employeeID.label(class="form-control.label")}}
                    {{ form.employeeID()}}

                </div>

            </fieldset>
             <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>
    </div>

    </div>

{% endblock %}